*{
    padding: 0;
    margin: 0;
}
div.container{
    background-image: url(fish2.jpg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

ul{
    background-color:black;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 3px solid greenyellow;
    

    
}
li{
    display: inline;
    list-style: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
}
div h1{
    text-align: center;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    color: white;
    font-size: 40px;
    
}

div.catfish{
    background-color:rgb(27, 25, 25);
    opacity: 0.4;
    margin-top: 10%;
    padding: 25px;
    margin-left:13%;
    margin-right: 13%;
    
}
p.catf{
    color:yellowgreen;
    text-align: center;
    font-weight:100;
    width:100%;
    font-size: 38px;
    margin-left:1%;
    
    
    
}
div.container2{
    background-color: black;
    padding-bottom:15%;
    display: flex;
    color: white;
    
    
}
h4{
    margin-top: 2.6%;
    margin-left:9%;

}

div.aboutus{
    color: white;
    
    margin-top: 3%;
    
} 
div.container2 p{
  opacity: 0.4;  
  padding-top: 35px;
  margin-left: -20%;
}
input{
    margin:-20%;
}
button{
    margin-left:20%;
    padding-right:18px;
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom:7px;
    background-color:rgb(213, 255, 28);
    
    
    
}
h3{
    margin-top:2.1%;
    margin-left:-2%;
    
    
}
div.Address{
    padding-top: 37px;
}
div.address p{
    margin-left:-20%;
}
div.socialmedia{
    padding-top: 5%;
    
}
h5{
    margin-top: 5%;
    margin-left:5%;
}
div.socialmedia p{
    margin-left:40%;
}













